.App {
  text-align: center;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.weather-card h2 {
  margin-bottom: 10px;
}

.weather-card p {
  margin: 5px 0;
}

.weather-card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(to bottom, #7FD1B9, #FFFACD);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: sanserif;
  color: black;
  line-height: 1.2;
}

.content {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.sun {
  top: 5px;
  right: 10px;
  width: 60px;
  height: 60px;
  justify-content: end;
  display: flex;
  position: absolute;
}
.search_btn{
  cursor: pointer;
  height: 48px;
  border-radius: 0px;
  background: green;
  color: #FFF;
  width: 70px;
  cursor: pointer;
  position: relative;
  right: 1px;
  border: 1px solid green;
}
.input_btn{
  height: 25px;
  width: 280px;
  padding: 10px;
}