
.App {
  text-align: center;
}

.column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

.table th, .table td {
  border: 1px solid #000 !important;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  text-align: center;
  margin: 30px 0px;
}

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  margin: 0px auto;
  max-width: 1344px;
}

.column h1 {
  margin-right: auto;
  max-width: 480px;
  display: flex;
  width: 100%;
  color: orange;
}

.heading-input {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 30px;
}

.input_btn {
  width: 280px;
  padding: 10px;
  border: 1px solid orange !important;
  height: 40px;
  border-radius: 5px;
}

.input_btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.heading-input img {
  object-fit: cover;
  max-width: 35px;
  height: auto;
}

.search_btn {
  height: 40px;
  background: orange;
  color: #FFF;
  width: 100px;
  cursor: pointer;
  border: 1px solid orange;
  font-weight: 600;
  border-radius: 2px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.search_btn span {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  color: orange;
  box-sizing: border-box;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
  text-align: left;
  border: 1px solid #000;
}

.weather-card {
  width: 250px;
  background: linear-gradient(to bottom, #fff9cd99, #ff8c0080);
  /* linear-gradient(to bottom, #7FD1B9, #FFFACD); */
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: sanserif;
  color: black;
  line-height: 1.2;
}

.no-data-found {
  text-align: center;
  margin-top: 20px;
}

.weather-table th,
.weather-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.weather-table .date-row {
  background-color: orange;
  font-weight: bold;
  color: white;
}

.weather-table th {
  background-color: #f2f2f2;
}

@media screen and (max-width:1100px) {
  .column {
    max-width: 90%;
  }
  .column h1 {
    margin: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .heading-input {
    max-width: 100%;
    gap:10px;
  }
  .heading-input img {
    width: 100%;
  }
}
.weather-table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
  text-align: left;
  border: 1px solid #000;
}

.weather-card {
  width: 200px;
  background: linear-gradient(to bottom, #7FD1B9, #FFFACD);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-family: sanserif;
  color: black;
  line-height: 1.2;
}
.content {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.search_btn {
  height: 40px;
  background: orange;
  color: #FFF;
  width: 100px;
  cursor: pointer;
  position: relative;
  right: 1px;
  border: 1px solid orange;
  font-weight: 600;
  border-radius: 2px;
}

.input_btn {
  width: 280px;
  padding: 10px;
  border: 1px solid orange !important;
  height: 20px;
  border-radius: 5px;
}
.input {
  border: 1px solid orange !important;
}

.no-data-found {
  text-align: center;
  margin-top: 20px;
}

.weather-table th,
.weather-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.weather-table .date-row {
  background-color: orange;
  font-weight: bold;
  color: white;
}

.weather-table th {
  background-color: #f2f2f2;
}
